* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts__main-wrapper {
    width: 800px;
}

.post {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    border: 5px solid green;
    padding: 15px;
    margin-top: 15px;
}

.post__btns {
    display: flex;
}

.page__wrapper {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.page {
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5px;
}

.page:hover {
    cursor: pointer;
    transition: .4s;
    background-color: black;
}

.p__current {
    border: 1px solid blue;
    color: blue;
}

.p__current:hover {
    transition: .4s;
    background-color: blue;
}

.top-navbar__wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.top-navbar {
    list-style: none;
    display: flex;
    gap: 50px;   
}

.top-navbar * {
    text-decoration: none;
    color: black;
}